$color-primary: #7be495;
$color-primary-dark: #56c596;

$color-secondary: #329d9c;
$color-secondary-dark: #205072;

$color-text: #44535e;

$color-white: #fff;
$color-black: #000;

// $color-bg-light: #cff4d2;
$color-bg-light: rgb(244, 249, 243);
// $color-bg-light: rgb(44, 44, 44);
$forkify: rgb(244, 249, 243);
