.header {
    // border: 1px solid #000;
    padding: 4.5rem 6rem;
    height: 8rem;
    background-color: $color-bg-light;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        height: 6rem;
        display: block;
    }

    @media only screen and (max-width: 600px) {
        padding: 4.5rem 3rem;} 
}

.search {
    position: relative;
    // width: 40%;
    font-size: 1.6rem;
    @media only screen and (max-width: 600px) {
        display: none;
    } 
    display: inline-block;

    &__input {
        font-size: inherit;
        padding: 1.5rem 2rem;
        border-radius: 5px;
        border: none;
        background-color: #fff;
        border-bottom: 3px solid transparent;
        // width: 80%;
        color: $color-text;
        outline: none;
        margin-right: 1rem;
        transition: all .3s;

        &:focus {
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }   
    }

    &__icon {
        height: 1.6rem;
    }
}

