.btn {
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-image: linear-gradient(90deg, $color-primary, $color-secondary);
    color: $color-white;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 1rem 2rem rgba($color-black, .2); /*X Y Blur color*/
        // background-image: linear-gradient(270deg, $color-primary, $color-secondary);

        &:active {
            transform: scale(1);
            box-shadow: 0 0.5rem 1rem rgba($color-black, .2); /*X Y Blur color*/
        }
    }
}

// ------ LOADER ------ //

.loader {
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 12rem auto;
    text-align: center;

    & .line {
        width: 5px;
        position: absolute;
        border-radius: 5px;
        bottom: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#1ee95d), to(#5714ce));
        background: -webkit-linear-gradient(top, #1ee95d, #5714ce);
        background: -o-linear-gradient(top, #1ee95d, #5714ce);
        background: linear-gradient(to bottom, #7be495, #205072);
    }

    & .line1 {
        left: 0;
        -webkit-animation: line-grow 0.5s ease alternate infinite;
        animation: line-grow 0.5s ease alternate infinite;
    }
    
    & .line2 {
        left: 15px;
        -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
        animation: line-grow 0.5s 0.2s ease alternate infinite;
    }
    
    & .line3 {
        left: 30px;
        -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
        animation: line-grow 0.5s 0.4s ease alternate infinite;
    }

    & .line4 {
        left: 45px;
        -webkit-animation: line-grow 0.5s 0.6s ease alternate infinite;
        animation: line-grow 0.5s 0.6s ease alternate infinite;
    }
    
    & .line5 {
        left: 60px;
        -webkit-animation: line-grow 0.5s 0.8s ease alternate infinite;
        animation: line-grow 0.5s 0.8s ease alternate infinite;
    }
}

/* ----------------     KEYFRAMES    ----------------- */

@-webkit-keyframes line-grow {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}

@keyframes line-grow {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}

// ------ Error Message ------ //
.error {
    margin-top: 5rem;
    padding: 2rem;
    font-size: 1rem;

    &__message {
        text-align: center;
    }
}

.no-like {
    // margin-top: 5rem;
    // padding: 2rem;
    font-size: 1rem;

    &__message {
        text-align: center;
    }
}
