.container {
    max-width: 140rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2rem 6rem 0.5rem rgba(86, 101, 89, 0.2);

    @media only screen and (max-width: 1000px) {
        height: auto;
        margin: 4vw auto;
    }

    @media only screen and (max-width: 700px) {
        // height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    @media only screen and (min-width: 1400px) {
        height: auto;
        margin: 4vw auto;
    }
}

.header {
    font-size: 1.6rem;
    min-height: 12vh;
    width: 100%;
    padding: 4.5rem 6rem;
    height: 8rem;
    background-color: $color-bg-light;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        height: 6rem;
        display: block;
    }

    @media only screen and (max-width: 700px) {
        flex-wrap: wrap;
        align-content: center;
        height: 14rem;
        padding: 4.5rem 3rem;
    }
}

.search {
    position: relative;
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 700px) {
        order: 1;
        align-self: start;
        margin: 0 auto;
        margin-top: 1rem;
    }

    &__input {
        font-size: inherit;
        padding: 1.5rem 2rem;
        border-radius: 5px;
        border: none;
        background-color: #fff;
        border-bottom: 3px solid transparent;
        flex: 0 0 80%;
        color: $color-text;
        outline: none;
        margin-right: 1rem;
        transition: all 0.3s;

        &:focus {
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        }
    }

    &__icon {
        fill: $color-white;
        height: 1.8em;
        width: 1.8em;
    }
}

.likes {
    display: flex;
    position: relative;
    // flex-direction: column;

    @media only screen and (max-width: 700px) {
        justify-content: flex-end;
        flex: 0 0 50%;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin-left: 0.5rem;
        }
    }

    &__icon {
        fill: $color-white;
        height: 1.8em;
        width: 1.8em;
    }

    &__panel:hover,
    &__btn:hover + &__panel {
        visibility: visible;
        opacity: 1; 
    }

    &:hover &__btn {
        transform: scale(1.1);
        box-shadow: 0 1rem 2rem rgba($color-black, .2); /*X Y Blur color*/
    }

    &__panel {
        position: absolute;
        right: -4rem;
        top: 8rem;
        z-index: 10;
        padding: 2rem 0;
        width: 34rem;
        background-color: #fff;
        box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
        visibility: hidden;
        opacity: 0;
        transition: all .5s; 
    }
}

.content {
    margin-top: 0.2rem;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;

    @media only screen and (max-width: 700px) {
        // height: 80vh;
    }
}

.results {
    position: relative;
    flex: 0 0 25%;
    background-color: #fff;
    padding-top: 1rem;

    @media only screen and (max-width: 700px) {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 9999;
        transform: translate(100%);
        overflow-y: hidden;

        &.transform {
            transform: translate(0%);
        }
    }
}
.results,
.likes {
    // mi-height: 100%;
    

    &__list {
        list-style: none;
        @media only screen and (max-width: 700px) {
            height: 80%;
        }
    }

    &__link {
        &:link,
        &:visited {
            outline: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.5rem 2rem;
            margin: 0.5rem 1.5rem;
            text-decoration: none;
            background-color: $color-bg-light;
            // background-color: $color-grey-light;
            transition: all 0.2s;

            @media only screen and (max-width: 700px) {
                padding: 1rem 2rem;
                margin: 5% 1.5rem;
            }
        }

        &--active {
            outline: none;
            background-color: $color-bg-light-dark !important;
            // background-color: black;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        }

        &:hover {
            outline: none;
            background-color: $color-bg-light-dark;
            cursor: pointer;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            // border: 1px solid $color-primary-light;
        }
    }

    &__fig {
        height: 5rem;
        width: 5rem;

        img {
            height: 100%;
            border-radius: 2px;
            // width: 100%;
        }
    }

    &__data {
        margin-left: 2rem;
    }

    &__title {
        color: $color-secondary;
        font-size: 1.4rem;
        font-weight: 600;
    }

    &__author {
        font-size: 1.3rem;
        color: $color-grey-dark;
    }
}

.pagination {
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 700px) {
        padding: 0.8rem 0;
    }

    &__btn {
        display: flex;
        align-items: center;
        outline: none;
        border: none;
        text-decoration: none;
        color: $color-white;
        cursor: pointer;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        border-radius: 2px;
        background-image: linear-gradient(
            90deg,
            lighten(#7be495, 5%),
            lighten(#329d9c, 10%)
        );
        // background-image: linear-gradient(90deg,#7BE495, #329D9C);
        transition: all 0.2s;

        &--left {
            flex-direction: row-reverse;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /*X Y Blur color*/
            // background-image: linear-gradient(270deg, $color-primary, $color-secondary);

            &:active {
                transform: scale(1);
                box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2); /*X Y Blur color*/
            }
        }
    }

    & &__icon {
        height: 1.4rem;
        width: 1.4rem;
        fill: $color-white;
    }
}

.music-container {
    flex-grow: 1;
    background-color: $color-bg-light;
    position: relative;
    display: flex;
    flex-direction: column;
}

.music-box {
    display: flex;
    padding: 1rem;

    @media only screen and (max-width: 700px) {
        flex-direction: column;
    }
}

.music {
    flex: 0 0 50%;
    padding: 0rem 1rem;

    &__data {
        display: flex;
    }

    @media only screen and (max-width: 700px) {
        flex: 0 0 35%;
    }

    &__details {
        padding: 1rem 1rem;
        color: $color-grey-dark-2;
    }

    &__fig {
        height: 20rem;
        width: 20rem;

        img {
            height: 100%;
            border-radius: 2px;
            // width: 100%;
        }
    }

    &__title {
        color: $color-secondary;
        font-weight: 600;
        font-size: 3rem;
    }

    &__artist {
        font-size: 2rem;
    }

    &__sub-details {
        color: $color-grey-dark-2;
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 3px solid #fff;
        border-radius: 1rem;
    }

    &__duration {
        font-size: 1.6rem;
    }

    &__btn {
        display: flex;
        padding: 0.5rem 0.8rem;
    }

    &__heart {
        fill: $color-white;
        height: 3rem;
        width: 3rem;
    }
}

.lyrics {
    flex: 1;
    padding: 1rem;

    @media only screen and (max-width: 700px) {
        margin-top: 1rem;
        padding-bottom: 12em;
    }

    &__heading {
        font-size: 2rem;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 600;
        color: $color-secondary;
    }

    &__card {
        width: 100%;
        margin-top: 0.5rem;
        padding: 2rem;
        border-radius: 0.5rem;
        font-size: 1.4rem;
        background-color: $color-white;
        height: 35rem;
        width: 100%;
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        overflow: scroll;
    }
}

.audio {
    height: 14rem;
    width: 100%;
    // background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__popup {
        background-image: linear-gradient(
            90deg,
            lighten(#7be495, 0%),
            lighten(#329d9c, 5%)
        );
        border-radius: 5rem 5rem 0 0;
        padding: 0.5rem 7rem;
        padding-left: 20rem;
        position: absolute;
        top: 0;
        left: 2rem;
        width: calc(100% - 4rem);
        opacity: 0;
        transform: translateY(0%);
        transition: all 0.3s ease-in;
        z-index: 0;
        @media only screen and (max-width: 700px) {
            padding-left: 14rem;
            padding-right: 4.5rem;
        }
    }

    &__progress-container {
        background: $color-white;
        border-radius: 0.5rem;
        padding: 0.1rem;
        cursor: pointer;
        margin: 1rem 0;
        height: 0.8rem;
        width: 100%;
    }

    &__progress {
        background-color: $color-secondary;
        border-radius: 0.5rem;
        height: 100%;
        width: 0%;
        transition: width 0.3s linear;
    }

    &__box {
        border-radius: 1rem 1rem 0 0;
        width: 100%;
        height: 56%;
        background-image: linear-gradient(
            90deg,
            lighten(#7be495, 5%),
            lighten(#329d9c, 10%)
        );
        display: flex;
        padding: 1rem;
        position: relative;

        @media only screen and (max-width: 700px) {
            height: 60%;
        }
    }

    &__img-container {
        position: relative;
        // top: -90%;
        width: 11rem;
        height: 11rem;

        @media only screen and (max-width: 700px) {
            top: -90%;
        }

        img {
            border-radius: 50%;
            object-fit: cover;
            height: 100%;
            width: 11rem;
            position: absolute;
            top: -7rem;
            left: 4rem;

            animation: rotate 3s linear infinite;

            animation-play-state: paused;

            @media only screen and (max-width: 700px) {
                left: 0.5rem;
                top: -1rem;
            }
        }
    }

    &__box.play &__img-container img {
        animation-play-state: running;
    }

    &__box.play &__popup {
        opacity: 1;
        transform: translateY(-100%);
    }

    &__container {
        width: 100%;
        margin-left: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20rem;

        @media only screen and (max-width: 700px) {
            margin-left: 3rem;
            padding-right: 0rem;
        }
    }

    &__details {
        font-weight: 600;
        color: $color-white;
    }

    &__title {
        font-size: 1.8rem;
    }

    &__artist {
        font-size: 1.4rem;
    }

    &__nav {
        flex: 0 0 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 700px) {
            flex: 0 0 40%;
        }
    }

    &__btn {
        height: 3rem;
        width: 4rem;
        margin-right: 0.5rem;
        padding: 0.5rem;

        &:nth-child(2) {
            height: 3.5rem;
            width: 4.5rem;
        }
    }

    &__svg {
        fill: $color-white;
        height: 100%;
        width: 100%;
    }

    &__pause {
        display: none;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
